name: "Protocol Buffer Go Stubs Generation"
on:
  push:
    tags:
      - v**
jobs:
  protoc:
    name: "Generate"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ "order", "payment", "shipping" ]
    steps:
      - id: extract-release-version
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install Protoc Dependencies
        run: |
          sudo apt-get install -y protobuf-compiler golang-goprotobuf-dev
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: Git config and fetching
        run: |
          git config --global user.email "kustov.michael@gmail.com"
          git config --global user.name "Michael Kustov"
          git fetch --all && git checkout main

      - name: Check if there are any changes
        id: verify_diff
        run: |
          git diff --quiet . || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Generate for Golang
#        if: steps.verify_diff.outputs.changed == 'true'
        run: |
          protoc --go_out=./golang --go_opt=paths=source_relative \
            --go-grpc_out=./golang --go-grpc_opt=paths=source_relative \
            ./${{ matrix.service }}/*.proto
          cd golang/${{ matrix.service }}
          go mod init github.com/MichNG/microservices-proto/golang/${{ matrix.service }} || true
          go mod tidy
          cd ../../
          git add .
          git commit -am "proto update"
          git push origin main
          git tag -fa golang/${{ matrix.service }}/${{ steps.extract-release-version.outputs.RELEASE_VERSION }} \
            -m "golang/${{ matrix.service }}/${{ steps.extract-release-version.outputs.RELEASE_VERSION }}" 
          git push origin refs/tags/golang/${{ matrix.service }}/${{ steps.extract-release-version.outputs.RELEASE_VERSION }}
